<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.steel.mapper.DeliveryOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.shiro.steel.entity.DeliveryOrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deliveryNo" jdbcType="VARCHAR" property="deliveryno" />
    <result column="saleDetailId" jdbcType="VARCHAR" property="saledetailid" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="productSpec" jdbcType="VARCHAR" property="productspec" />
    <result column="productFactory" jdbcType="VARCHAR" property="productfactory" />
    <result column="productMark" jdbcType="VARCHAR" property="productmark" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="actualWeight" jdbcType="DECIMAL" property="actualweight" />
    <result column="finalWeight" jdbcType="DECIMAL" property="finalweight" />
      <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="processStatus" jdbcType="VARCHAR" property="processstatus" />
    <result column="warehousename" jdbcType="VARCHAR" property="warehousename" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="deliveryStatus" jdbcType="VARCHAR" property="deliverystatus" />
    <result column="crt" jdbcType="TIMESTAMP" property="crt" />
    <result column="upt" jdbcType="TIMESTAMP" property="upt" />
  </resultMap>
<delete id = "deleteBatchDeliveryOrderNos" parameterType = "java.util.List">    
        <![CDATA[    
           delete from delivery_order_detail where deliveryNo in    
        ]]>    
        <foreach collection="list" item = "items" open="(" separator="," close=")">
        #{items}    
        
        </foreach>    
    </delete> 
    
   <select id="selectByPurId" resultType="com.shiro.steel.pojo.dto.DeliveryOrderDetailPurDto">
		SELECT
        pcd.weight as actualweight,dod.id,(sk.weight - pcd.weight) as balance, dod.saleDetailId,dod.deliveryNo
		FROM
       purchase_contract_detail pcd
       left join stock sk on pcd.id = sk.purDetailId
       left join delivery_order_detail dod on sk.id = dod.stockid
		WHERE 1=1
       <if test="''!= purdetailid and purdetailid!=null">
           AND sk.purDetailId =#{purdetailid}
       </if>
	</select>
</mapper>