<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.steel.mapper.ProcessOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.shiro.steel.entity.ProcessOrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="processNo" jdbcType="VARCHAR" property="processno" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="productSpec" jdbcType="VARCHAR" property="productspec" />
    <result column="productFactory" jdbcType="VARCHAR" property="productfactory" />
    <result column="productMark" jdbcType="VARCHAR" property="productmark" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="actualWeight" jdbcType="DECIMAL" property="actualweight" />
    <result column="stockid" jdbcType="INTEGER" property="stockid" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="crt" jdbcType="TIMESTAMP" property="crt" />
    <result column="upt" jdbcType="TIMESTAMP" property="upt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from process_order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
 <delete id = "deleteBatchProcessNos" parameterType = "java.util.List">    
        <![CDATA[    
           delete from process_order_detail where processNo in    
        ]]>    
        <foreach collection="list" item = "items" open="(" separator="," close=")">
        #{items}    
        
        </foreach>    
    </delete> 
  <select id="selectList" resultType="com.shiro.steel.pojo.dto.ProcessOrderDetailDto">
		SELECT
		pod.id,pod.processNo,pod.saleDetailId,pod.productName, pod.productSpec, pod.productFactory, pod.productMark, pod.num, pod.weight, pod.unit, pod.remark, pod.status , pod.crt, pod.upt, scd.price,pod.stockid,
		pod.actualWeight, pod.warehousename
		FROM 
		process_order_detail pod left join sale_contract_detail scd
		on pod.saleDetailId = scd.id
        where pod.processNo =  #{processNo} 
	</select>
</mapper>