<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.steel.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.shiro.steel.entity.Stock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="memberId" jdbcType="VARCHAR" property="memberid" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="productSpec" jdbcType="VARCHAR" property="productspec" />
    <result column="productFactory" jdbcType="VARCHAR" property="productfactory" />
    <result column="productMark" jdbcType="VARCHAR" property="productmark" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="warehousename" jdbcType="VARCHAR" property="warehousename" />
    <result column="stockOutType" jdbcType="VARCHAR" property="stockouttype" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="crt" jdbcType="TIMESTAMP" property="crt" />
    <result column="upt" jdbcType="TIMESTAMP" property="upt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.shiro.steel.entity.Stock">
    update stock
    set memberId = #{memberid,jdbcType=VARCHAR},
      productName = #{productname,jdbcType=VARCHAR},
      productSpec = #{productspec,jdbcType=VARCHAR},
      productFactory = #{productfactory,jdbcType=VARCHAR},
      productMark = #{productmark,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      total = #{total,jdbcType=DECIMAL},
      warehousename = #{warehousename,jdbcType=VARCHAR},
      stockOutType = #{stockouttype,jdbcType=VARCHAR},
      quality = #{quality,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      crt = #{crt,jdbcType=TIMESTAMP},
      upt = #{upt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, memberId, productName, productSpec, productFactory, productMark, num, 
    weight, price, unit, total, warehousename, stockOutType, quality, remark, status, 
    crt, upt
    from stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, memberId, productName, productSpec, productFactory, productMark, num, 
    weight, price, unit, total, warehousename, stockOutType, quality, remark, status, 
    crt, upt
    from stock
  </select>
</mapper>