<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.steel.mapper.TransportOrderMapper">
  <resultMap id="BaseResultMap" type="com.shiro.steel.entity.TransportOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="verifyBy" jdbcType="VARCHAR" property="verifyby" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="upt" jdbcType="TIMESTAMP" property="upt" />
    <result column="transportNo" jdbcType="VARCHAR" property="transportno" />
    <result column="deliveryNo" jdbcType="VARCHAR" property="deliveryno" />
    <result column="contractNo" jdbcType="VARCHAR" property="contractno" />
    <result column="memberId" jdbcType="VARCHAR" property="memberid" />
    <result column="crt" jdbcType="TIMESTAMP" property="crt" />
    <result column="transportFee" jdbcType="DECIMAL" property="transportfee" />
    <result column="transportWeight" jdbcType="DECIMAL" property="transportweight" />
    <result column="transportAddress" jdbcType="VARCHAR" property="transportaddress" />
    <result column="warehouse" jdbcType="VARCHAR" property="warehouse" />
    <result column="vehicleNumber" jdbcType="VARCHAR" property="vehiclenumber" />
    <result column="carrier" jdbcType="VARCHAR" property="carrier" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="feeOption" jdbcType="INTEGER" property="feeoption" />
    <result column="transportTotalFee" jdbcType="VARCHAR" property="transporttotalfee" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transport_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <update id="updateByPrimaryKey" parameterType="com.shiro.steel.entity.TransportOrder">
    update transport_order
    set verifyBy = #{verifyby,jdbcType=VARCHAR},
      createBy = #{createby,jdbcType=VARCHAR},
      upt = #{upt,jdbcType=TIMESTAMP},
      transportNo = #{transportno,jdbcType=VARCHAR},
      contractNo = #{contractno,jdbcType=VARCHAR},
      memberId = #{memberid,jdbcType=VARCHAR},
      crt = #{crt,jdbcType=TIMESTAMP},
      transportFee = #{transportfee,jdbcType=DECIMAL},
      transportWeight = #{transportweight,jdbcType=DECIMAL},
      transportAddress = #{transportaddress,jdbcType=VARCHAR},
      warehouse = #{warehouse,jdbcType=VARCHAR},
      vehicleNumber = #{vehiclenumber,jdbcType=VARCHAR},
      carrier = #{carrier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, verifyBy, createBy, upt, transportNo, contractNo, memberId, crt, transportFee, 
    transportWeight, transportAddress, warehouse, vehicleNumber, carrier
    from transport_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, verifyBy, createBy, upt, transportNo, contractNo, memberId, crt, transportFee, 
    transportWeight, transportAddress, warehouse, vehicleNumber, carrier
    from transport_order
  </select>
  
  <select id="findTransportOrderByPage" resultType="com.shiro.steel.pojo.dto.TransportOrderDto">
	 select id, verifyBy, createBy, upt, transportNo,deliveryNo, contractNo, memberId, crt, transportFee, 
    transportWeight, transportAddress, warehouse, vehicleNumber, carrier,remark,feeOption,transportTotalFee
    from transport_order
		WHERE 1=1
		<if test="''!= dto.keyword and dto.keyword!=null">
        AND carrier LIKE CONCAT('%',#{dto.keyword},'%')
		</if>
	 	<if test="startTime != null and startTime != ''">
		 AND  DATE_FORMAT(crt,'%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startTime},'%Y-%m-%d')
 		</if>
	 	<if test="endTime != null and endTime != ''">
		 AND  DATE_FORMAT(crt,'%Y-%m-%d')  <![CDATA[<=]]> DATE_FORMAT(#{endTime},'%Y-%m-%d ')
	 	</if>
		<if test="''!=createby and createby!=null">
       	AND createBy =#{createby}
		</if>
		order by crt desc
	</select>
	
	
</mapper>